$he2: #{'min(0.5rem,20px)'};
$he4: #{'min(1rem,40px)'};
$he8: #{'min(2rem,80px)'};
$he12: #{'min(3rem,120px)'};
$pfz: #{'min(1.4em,14px)'};
$h2: #{'min(3.6em,36px)'};
$h3: #{'min(2.4em,24px)'};


@mixin font($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}

@include font(ha,'HANBatang.ttf');
@include font(do,'Dokdo-Regular.ttf');
@include font(sq,'SquarePeg-Regular.ttf');

@mixin grid($dev){
    @if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
    }
    margin: 0 auto;
}

@mixin co($coname){
    @if($coname=='hdrp'){
        color: orange;
    }
    @else if($coname=='artp'){
        color: blue;
    }
    @else{
        color: #666;
    }
    
}

@mixin flex {
    display: flex;
    justify-content: space-between;
}

@mixin bgset {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    font-size: 3vw;
    font-family: ha;
    body{
        font-size: 0.7vw;
    }
}

.hdrWrap{
    background-color: orangered;
    color: #fff;
    header{
       @include grid('pc');
       @include flex;
       line-height: $he8;
       text-transform: uppercase;
        h1{
            width: calc(100% / 12 * 1);
            font-size: $h3;
        }
        nav{
            width: calc(100% / 12 * 7);
            font-weight: 700;
            font-size: $pfz;
            @include flex;
            h4{
                cursor: pointer;
            }
        }
    }
}

.navBoxWrap{
    background-color: #666;
    color: #fff;
    .navBox{
        @include grid('pc');
        @include flex;
        nav{
            width: calc(100% / 12 * 2);
            font-size: $pfz;
            line-height: $he4;
            border-right: 1px solid white;
            &:nth-child(1){
                border-left: 1px solid white;
            }
            h4{
                margin-left: 15px;
                &:nth-child(1){
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &:nth-child(1)~h4{
                    font-family: sq;
                }
            }
        }
    }
}

.mainWrap{
    background-color: #bfbfbf;
    padding: #{'min(6rem,240px)'} 0 #{'min(9rem,360px)'};
    main{
        @include grid('pc');
        h2{
            font-size: 72px;
            line-height: $he8;
            text-transform: uppercase;
            font-family: sq;
        }
        p{
            width: calc(100% / 12 * 6);
            margin-top: 40px;
            font-size: $h3;
            line-height: $he4;
            height: $he12;
            overflow: hidden;
            color: #666;

        }
    }
}

.cntWrap{
    margin-top: $he12;
    .content{
        @include grid('pc');
        &.cnt01{
            section{
                article{
                    width: calc(100% / 4 - 20px);
                    .image{
                        height: #{'min(4.5rem,180px)'};
                        @for $i from 1 through 4{
                            &.i#{$i}{
                                background-image: url('../images/pic0#{$i}.jpg');
                            }
                        }
                    }
                    .texts{
                        padding: 30px 20px 0px 15px;
                        ul{
                            li{
                                font-size: $pfz;
                                line-height: #{'min(0.75rem,30px)'};
                            }
                        }
                        .sns{
                            font-size: $h3;
                            line-height: $he4;
                            text-align: right;
                        }
                    }
                }
            }
        }
        &.cnt02{
            section{
                .art{
                    width: calc(100% / 3 - 20px);
                    &.artLeft{
                        article{
                            @include flex;
                            margin-top: $he4;
                            .image{
                                width: calc(100% / 4 * 1 - 10px);
                                height: $he8;
                                border-radius: 50%;
                                @for $i from 1 through 3{
                                    &.i#{$i}{
                                        background-image: url('../images/test_pic0#{$i}.jpg');
                                    }
                                }
                            }
                            .texts{
                                width: calc(100% / 4 * 3 - 10px);
                                p{
                                    height: $he4;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    &.artMid{
                        article{
                            .image{
                                height: #{'min(10rem,400px)'};
                                background-image: url('../images/test_pic01.jpg');
                            }
                        }
                    }
                    &.artRight{
                        article{
                            @include flex;
                            direction: rtl;
                            margin-top: $he4;
                            .image{
                                width: calc(100% / 4 * 1 - 10px);
                                height: $he8;
                                border-radius: 50%;
                                @for $i from 1 through 3{
                                    &.i#{$i}{
                                        background-image: url('../images/pic0#{$i}.jpg');
                                    }
                                }
                            }
                            .texts{
                                width: calc(100% / 4 * 3 - 10px);
                                p{
                                    height: $he4;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
        header{
            text-align: center;
            h2{
                font-size: $h2;
                line-height: $he8;
                text-transform: capitalize;
                font-weight: 700;
            }
            p{
                width: calc(100% / 12 * 5);
                line-height: $he2;
                height: $he4;
                font-size: $pfz;
                overflow: hidden;
                margin: 0 auto;
                @include co('hdrp');
            }
        }
        section{
            margin-top: $he8;
            @include flex;
            article{
                margin: 0px 10px;
                .image{
                    @include bgset;
                }
                .texts{
                    h3{
                        font-size: $h3;
                        line-height: $he4;
                        text-transform: capitalize;
                        font-weight: 700;
                    }
                    li{
                        @include co('artp');
                    }
                    p{
                        @include co('artp');
                    }
                }
            }
        }
    }
}

.bnrWrap{
    margin-top: $he12;
    background-color: #333;
    padding: 80px 0px;
    .banner{
        @include grid('pc');
        .images{
            @include flex;
            .image{
                width: calc(100% / 6 - 20px);
                height: #{'min(4rem,160px)'};
                border-radius: 50%;
                @include bgset;
                @for $i from 1 through 6{
                    &.i#{$i}{
                        background-image: url('../images/pin0#{$i}.jpg');
                    }
                }
            }
        }
    }
}

.ftrWrap{
    padding: 80px 0;
    margin-top: $he12;
    background-color: #000;
    color: #fff;
    footer{
        @include grid('pc');
        @include flex;
        .ftrLeft{
            width: calc(100% / 12 * 3);
            h1{
                font-size: #{'min(1.6em,16px)'};
                line-height: $he4;
                text-transform: uppercase;
            }
            .sns{
                font-size: $h2;
                line-height: $he8;
            }
            p{
                line-height: $he4;
                font-size: $pfz;
            }
        }
        .ftrRight{
            width: calc(100% / 12 * 5);
            font-size: $pfz;
            line-height: $he4;
            nav{
                @include flex;
                text-transform: uppercase;
            }
            .info{
                width: calc(100% / 5 * 4);
                background-color: rgb(163, 161, 161);
                border-radius: 20px;
                text-align: center;
                margin-top: $he8;
                margin-left: auto;
            }
        }
    }
}

// tab
@media (max-width:1024px) and (min-width:0px){
    .hdrWrap{
        header{
           @include grid('tab');
        }
    }

    .navBoxWrap{
        .navBox{
            @include grid('tab');
        }
    }

    .mainWrap{
        main{
            @include grid('tab');
        }
    }

    .cntWrap{
        .content{
            @include grid('tab');
        }
    }

    .bnrWrap{
        .banner{
            @include grid('tab');
        }
    }

    .ftrWrap{
        footer{
            @include grid('tab');
        }
    }
}